@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

$colors-primary: (
    red: hsl(0, 78%, 62%),
    Cyan: hsl(180, 62%, 55%),
    orange: hsl(34, 97%, 64%),
    blue: hsl(212, 86%, 64%)
);

$colors-neutral: (
    very-dark-blue: hsl(234, 12%, 34%),
    grayish-blue: hsl(229, 6%, 66%),
    very-light-gray: hsl(0, 0%, 98%)
);

$font-sizes: (
    font-desktop: 15px
);